/*header code start */

ul {
    padding: 0;
    width: 100%;
}

li {
  display: inline;
}

/*makes the 2 links seperated and in-line*/
ul li a{
  float:right;
  display:inline;
  width: 70px;
  padding-right: 30px;
  padding-top: 10px;
  background-color: #ca9985;
  
}


#top-header a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  margin-right: 0.8%;
  align-items: center; 
}


a:hover {
    color: #26004B;
}


#mainName {
    padding-left: 80px;
    font-size: 800;
    display:inline;
}


#top-header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
  position: sticky;
  top: 0;

}


#top-header a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;

}

#top-header a:hover {
    color: #ffffff;
    background-color:#970000;
}

#logo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  padding-left: 20px;
  font-size: larger;
  font-weight: bold;
  color: #000000;

}

/* end of header code */

/* start title code */ 

#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    padding-left: 30px;
    color: #5a2323;
}

/*end title */

/* image and text */

img {

    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50;
    float:right;
    border-color: #970000;
    border-width: thick;
}

h4, pre{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h4 pre, img {
    display: inline, block
    
}

/* end image and text */


/*everything/background */
* {
    margin: 20;
    padding: 50;
    background-color: #f7f1e7;

  }
