.title {
    color: #691283;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 400;
    text-align: center;
    display: block;
    padding-top: 170px;
}

h1 {
  font-size: 400%;
}

h3 {
  font-size: larger;
  font-family: 'Century Gothic';
  text-align: center;
  color: #175d8b;
  line-height: 0cm;
  display: block;
}
ul {
    padding: 0;
    width: 100%;
}

li {
  display: inline;
}

/*makes the 2 links seperated and in-line*/
ul li a{
  float:right;
  display:inline;
  width: 70px;
  padding-right: 30px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #84b9ff;
  font-family: 'Georgia';
  margin-right: 0.8%;
}

a:hover {
    color: #0e3d63;
}

#mainName {
    padding-left: 80px;
    font-size: 800;
    display:inline;
}

#social-media {
  display:inline;
  padding: 0px;
  font-size: 30px;
  width: 70px;
  position: relative;
  top: 10px;
  left: 590px;
  text-decoration: none;
  align-items: center;
  
}

#top-header {
  position: sticky; top: 0;
  background-color: white;
}

* {
    margin: 20;
    padding: 50;
    background-color: #000000;
  }
