.title {
    color: #95d493;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 400;
    text-align: center;
    display: block;
    padding-top: 170px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

h1 {
  font-size: 400%;
}

h3 {
  font-size: larger;
  font-family: 'Century Gothic';
  text-align: center;
  color: #ffffff;
  line-height: 0cm;
  display: block;
}
ul {
    padding: 0;
    width: 100%;
  }

  li {
    display: inline;
  }

/*makes the 2 links seperated and in-line*/
  ul li a{
    float:right;
    display:inline;
    width: 70px;
    padding-right: 30px;
    padding-top: 30px;
  }

  a {
    text-decoration: none;
    color: #5a2c4c;
    font-family: 'Georgia';
    margin-right: 0.8%;
  }

a:hover {
    color: #95d493;
}

#mainName {
    padding-left: 80px;
    font-size: 800;
    display:inline;
}

#social-media {
  display:inline;
  padding: 0px;
  font-size: 30px;
  width: 70px;
  position: relative;
  top: 10px;
  left: 590px;
  text-decoration: none;
  align-items: center;
  
}

* {
    margin: 20;
    padding: 50;
    background-color: #000000;
  }
